.searchForm {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
ul {
  list-style-type: none;
}
.searchResults {
  text-decoration: none;
}
.searchResults:hover{
  text-decoration: none;
}