.PrimarySearchAppBar-root-1 {
  width: 0;
}
.links {
  color: white;
}
.links:hover {
  color: lightgray;
  text-decoration: none;
}
.logo {
  font-family: "Mrs Sheppards", cursive;
  font-size: 40px;
  margin-right: 25px;
}
p {
    margin-top: 14px;
}
.navbar {
  background-color: #9575cd;
  display: fixed;
}
