.PrimarySearchAppBar-root-1 {
  width: 0;
}
.links {
  color: #5cdb95;
}
.links:hover {
  color: #8ee4af;
  text-decoration: none;
}
.logo {
  font-family: "Mrs Sheppards", cursive;
  font-size: 40px;
  margin-right: 25px;
  color: #5cdb95
}
p {
    margin-top: 14px;
}
.navbar {
  background-color: #9575cd;
  display: fixed;
}
.searchResults {
  padding-top: 100px;
  width: 30vw;
  margin-left: 30vw;
}