.sideNav {
  width: 70vw;
}
@media only screen and (min-width: 600px) {
  .sideNav {
    padding-top: 20px;
    width: 70vw;
    background-color: rgb(231,46,51);
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    padding: 30px;
  }
  main {
    padding-top: 50px;
  }
}
