.sideNav {
  display: none;
}
@media only screen and (min-width: 600px) {
  .sideNav {
    grid-area: sideNav;
    padding-top: 20px;
    width: 25vw;
    height: 100vh;
    position: fixed;
    background-color: #E98074;
    display: block;
  }
  main {
    display: grid;
    padding-top: 50px;
    grid-template-areas:
      "sideNav newsFeed"
      "sideNav newsFeed";
    grid-template-columns: 1fr 3fr;
  }

  .newsFeed {
    grid-area: newsFeed;
    /* width: 80vw; */
  }
}
