/* .frame {
  width: 95vw;
  height: 50vh;
  border: 5px ridge darkgray;
  margin: 0 auto;
} */
.cmntbtn {
  height: 56px;
}
form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media only screen and (min-width: 600px) {
  /* .frame {
    width: 95vw;
    height: 60vh;
    border: 5px ridge darkgray;
    
  } */
}
